/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.templateContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.searchInput_Container {
  margin-bottom: 20px;
}

#searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.template_Container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.template {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width as needed */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
}

.template img {
  max-width: 100%;
  height: auto;
}

.template h3 {
  font-size: 18px;
  margin-top: 10px;
}

.House {
  font-weight: bold;
  color: #e91e63; /* Customize the price color */
}
#main_title{
  font-size: 50px;
 align-items: center;
 font-family:'Times New Roman', Times, serif


}
